
/*=======================================================
---- CSS  Reset ---------------------------------------
======================================================== */

html, body {
	padding: 0;
	margin: 0;
}

body {
	overflow: auto; 
	height: 13500px; 
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../images/loading.gif') 50% 50% no-repeat rgb(0, 0, 0);
}

ul, ol {
	padding-left: 0;
}

/*=======================================================
---- MENU ---------------------------------------
======================================================== */


#menu {
	font-family: 'Julius Sans One', sans-serif;
	position: absolute;
	top: 25px;
	left: 0;
  background: rgba(0, 0, 0, 0.4);
  padding-top: 15px;
  padding-bottom: 3px;
  width: 100%;
  margin: 0;
  z-index: 100;
  border-bottom: 2px solid black;
  border-top: 4px solid black;
}
  
#menu ul {
  text-align: center;
  padding-left: 0;
  margin-top: 0;
}
    
#menu ul li {
	display: inline;
	padding-top: 16px;
	padding-bottom: 19px;
	padding-left: 4%;
	padding-right: 4%;
	text-align: center; 
}
  	
#menu ul a {
  text-decoration: none;
  color: white;
  font-size: .9em;
}

#menu ul a:hover {
  color: black; 
}

.slideDown {
	background-color: white;
	a {
		color: black !important;
		&:hover {
			color: white !important;
		}
	}
}

/*=======================================================
---- SKROLLR SLIDES -----------------------------------
======================================================= */


#skrollr-body {
	width: 100%; 
	height: 100%; 
	position: fixed; 
}

#skrollr-body  div {
	overflow: hidden; 
	position: absolute; 
}

.centered { 
	top: 0; 
	bottom: 0; 
	left: 0; 
	right: 0; 
	margin: auto;
	width: 100%;
 }

 .box {
 	box-shadow: 0 0 7px black;
 }

 #slide_blue {
 	background: rgb(255, 255, 255) url('../images/blue.png') center center no-repeat;
 	z-index: 6;
 }

 #slide_green {
 	background: rgb(0, 0, 0) url('../images/green.png') center center no-repeat;
 	z-index: 5;
 }

 #slide_yellow {
 	background: rgb(0, 0, 0) url('../images/yellow.png') center center no-repeat;
 	z-index: 4;
 }

#slide_red {
 	background: rgb(0, 0, 0) url('../images/red.png') center center no-repeat;
 	z-index: 3;
 }

 #slide_white {
 	background: rgb(0, 0, 0) url('../images/white2.png') center center no-repeat;
 	z-index: 2;
 }

 #slide_black {
 	background: rgb(0, 0, 0) url('../images/tincan1.png') center center no-repeat;
 	z-index: 1;
 }

 #slide_blue2 {
 	background: rgb(255, 255, 255) url('../images/blue.png') center center no-repeat;
 	z-index: 0;
 }

 

/*=======================================================
---- INSIDE the SLIDES ---------------------------------------
======================================================== */

.static {
	position: static !important;
}

.slide_inner {
	position: relative;	
	width: 100%;
	margin: 20% auto;
	text-align: center;
}

.tech {
	font-family: 'Josefin Sans', sans-serif;
	padding-left: 0;
}

.tech li {
	display: inline;
	text-align: center;
	font-size: .9em;
	padding-right: 10px;
	padding-left: 5px;
	border-right: 2px solid white;
}

.tech li:last-child {
	border: none;
}

.what {
	margin: 15px auto;
	width: 50%;
	text-align: left;
}

.what li {
	font-size: 1.1em;
	text-indent: 25px;
}


/* OPENING SLIDE */


#slide_blue div h1 {
	font-family: 'Julius Sans One', sans-serif;
	color: white;
	padding-bottom: 0;
	margin-bottom: 4px;
	border-bottom: 1px solid rgb(0, 0, 0);
	width: 280px;
	margin: 0 auto;
}

#slide_blue div h2 {
	width: 240px;
	text-align: right;
	margin: 0 auto;
	padding-top: 3px;
	font-family: 'Josefin Sans', sans-serif;
}

#slide_blue2 div h1 {
	font-family: 'Julius Sans One', sans-serif;
	color: white;
	padding-bottom: 0;
	margin-bottom: 4px;
	border-bottom: 1px solid rgb(0, 0, 0);
	width: 280px;
	margin: 0 auto;
}

#slide_blue2 div h2 {
	width: 240px;
	text-align: right;
	margin: 0 auto;
	padding-top: 3px;
	font-family: 'Josefin Sans', sans-serif;
}


/*  DOGEAR   */


#slide_green .slide_inner {
	margin: 50px auto;
}

#slide_green h2 {
	border-top: 3px solid white;
	margin: 5px auto;
	padding-top: 40px;
	width: 240px;
}

#dogear_copy {
	width: 60%;
	margin: 240px auto;
	margin-bottom: 30px;
	text-align: center;
	color: white;
	font-family: 'Josefin Sans', sans-serif;
}

#trash {
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
	width: 240px;
}

.can {
	position: absolute;
	right: 43%;
}


/*  DEDO   */


#dedo_anim{
	width: 100%;
	margin: 2% auto;
}

.dedo_video {
	right: 25%;
	width: 50%;
	margin: 4px auto;
	text-align: center;
	display: block;
}

.dedo_video:hover {
	border: 6px solid rgb(205, 32, 44);
	border-radius: 18px;
}

#dedo_copy1 {
	position: absolute;
	width: 60%;
	margin: 25% auto;
	margin-bottom: 30px;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	color: rgb(205, 32, 44);
}

#dedo_copy1 .tech li {
	border-right: 2px solid rgb(205, 32, 44);
}

#dedo_copy1 .tech li:last-child {
	border-right: none;
}

#dedo_copy2 {
	display: none;
	position: absolute;
	width: 45%;
	margin: 23% auto;
	margin-bottom: 30px;
	text-align: center;
	font-family: 'Schoolbell', cursive;
	color: rgb(205, 32, 44);
}

#dedo_what {
	text-align: center;
}

#dedo_what li {
	display: list-item;
	list-style-position: inside;
	font-size: 1.2em;
}

#dedo_container {
	width: 300px;
	height: 150px;
	margin: 35% auto;
}

#dedo_button {
	width: 100px;
	height: 100px;
	margin: 20px auto;
	text-align: center;
	background-color: rgb(205, 32, 44);
	border-radius: 50%;
}

#dedo_button:hover {
	cursor: pointer;
	border: 1px solid black;
}


/*  MIGHTY BLOG   */


#slide_red .slide_inner {
	position: relative;	
	width: 400px;
	margin: 100px auto;
	margin-bottom: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

#mighty_img:hover {
	background-color: rgb(247, 147, 29);
	box-shadow: 0 0 10px rgb(255, 242, 0);
	border-radius: 10px;
}

#mighty_copy {
	position: relative;
	width: 60%;
	margin: 20px auto;
	margin-bottom: 30px;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	color: rgb(255, 242, 0);
}

#mighty_copy .tech li {
	border-right: 2px solid rgb(247, 147, 29);
}

#mighty_copy .tech li:last-child {
	border-right: none;
}

#mighty_what {
	position: relative;
	width: 400px;
	margin: 20px auto;
	text-align: center;
	color: rgb(255, 242, 0);
}

#mighty_what h2 {
	font-family: 'Julius Sans One', sans-serif;
}

#mighty_what ol {
	width: 88%;
}

#mighty_what .what li {
	font-family: 'Josefin Sans', sans-serif;
	background-color: white;
	border: 3px solid black;
	color: rgb(247, 147, 29);
	margin-bottom: 10px;
	padding: 5px;
	text-align: left;
	text-indent: 0;
	font-size: 1.4em;
}

/*  POSTHASTE   */

#slide_white .slide_inner {
	position: relative;	
	width: 100%;
	margin: 15px auto;
	margin-bottom: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

#slide_white .slide_inner img {
	width: 50%;
	min-width: 400px;
	max-height: 3	00px;
}

#posthaste_copy {
	position: absolute;
	width: 100%;
	top: 50%;
	margin: 10px auto;
	margin-bottom: 30px;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	color: rgb(240, 120, 30);
}

#posthaste_copy hr {
	width: 200px;
	margin: 0 auto;
	border: 2px solid rgb(240, 120, 30);
}

#posthaste_copy .tech li {
	border-right: 2px solid rgb(240, 120, 30);
}

#posthaste_copy .tech li:last-child {
	border-right: none;
}

#posthaste_what {
	font-family: 'Josefin Sans', sans-serif;
	position: absolute;
	top: 57%;
	width: 100%;
	margin: 30px auto;
	text-align: center;
	color: rgb(255, 242, 0);
}

#posthaste_what h2 {
	width: 100%;
	max-width: 480px;
	margin: 15px auto;
	background-color: white;
	color: rgb(240, 120, 30);
	border-radius: 100px;
	border: 2px solid rgb(240, 120, 30);
	padding: 10px;
}

#posthaste_what ul {
	width: 80%;
	max-width: 360px;
}

#posthaste_what .what li {
	background-color: rgb(240, 120, 30);
	color: white;
	margin-bottom: 10px;
	padding: 5px;
	text-align: center;
	text-indent: 0;
	font-size: 1.4em;
	border-radius: 100px;
}

/* TINCAN  */

#slide_black .slide_inner {
	margin: 50px auto;
	width: 100%;
}

.circular-menu {
	font-family: 'Josefin Sans', sans-serif;
  width: 250px;
  height: 250px;
  margin: 5px auto;
  text-align: center;
  position: relative;
}

.circle {
  width: 250px;
  height: 250px;
  opacity: 0;
  font-size: .8em;
  
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);

  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.white.circle {
  background-color: rgba(255, 255, 255, .6);
  border-radius: 50%;
  border: 1px solid rgb(255, 255, 255);
}

.open.circle {
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}

.circle p {
  text-decoration: none;
  color: rgb(160, 40, 60);
  font-size: 1.3em;
  display: block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  position: absolute;
  text-align: center;
  font-weight: bold;
}

.circle p a {
	text-decoration: none;
	color: inherit;
}

.circle p:hover {
  color: black;
  font-style: italic;
  cursor: pointer;
}

.menu-button {
  position: absolute;
  top: calc(50% - 45px);
  left: calc(50% - 42px);
  text-decoration: none;
  text-align: center;
  border-radius: 50%;
  display: block;
  height: 60px;
  width: 60px;
  line-height: 40px;
  padding: 10px;
  border: 2px solid rgb(0, 0, 0);
  background: url('../images/tincan.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(160, 40, 60, .3);
  outline: 0 !important;
}

.menu-button:hover {
  background-color: rgba(160, 40, 60, .7);
}

#title {
	font-family: 'Josefin Sans', sans-serif;
  width: 600px;
  position: relative;
  margin: 0 auto;
  text-align: center;
  top: 220px;
  visibility: hidden;
}

#title h1 {
	font-size: 3.2em;
  color: rgb(160, 40, 60);
  padding-bottom: 0;
  margin-bottom: 0;
}

#title h3 {
	color: black;
	font-size: 1.4em;
  margin-top: 0;
  padding-top: 0;
}

#message {
	position: relative;
	width: 440px;
	margin: 40px auto;
	color: rgb(160, 40, 60);
}

#message a {
	color: rgb(160, 40, 60);
	font-style: bold;
}

#message a:hover {
	color: rgb(0, 0, 0);
	font-style: italic;
}

#message .tech {
	background-color: rgba(255, 255, 255, .5);
	padding:15px;
}

#message .tech li {
	border-right: 2px solid rgb(160, 40, 60);
	text-align: center;
	padding-left: 10px;
}

#message .tech li:last-child {
	border-right: none;
}

.tincan_why_where {
	background-color: rgba(255, 255, 255, .5);
	padding: 5px;
}

/* LAST SLIDE */

#last_copy {
	position: absolute;
	width: 100%;
	top: 55%;
	margin: 10px auto;
	margin-bottom: 30px;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	color: rgb(255, 255, 255);
}

#last_copy p {
	font-family: 'Julius Sans One', sans-serif;
	width: 400px;
	margin: 0 auto;
	text-align: center;
	color: black;
	font-size: 1em;
	margin-bottom: 0;
	padding-bottom: 0;
}

#last_copy hr {
	width: 100px;
	margin: 0 auto;
	border: 1px solid black;
}

#last_copy .tech {
	width: 440px;
	margin: 10px auto;
}

#last_copy .tech li {
	border-right: 2px solid rgb(255, 255, 255);
}

#last_copy .tech li:last-child {
	border-right: none;
}


