
/*=======================================================
---- CSS  Reset ---------------------------------------
======================================================== */

html, body {
	padding: 0;
	margin: 0;
}

body {
	overflow: auto; 
	height: 12000px; 
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../images/loading.gif') 50% 50% no-repeat rgb(0, 0, 0);
}

/*=======================================================
---- MENU ---------------------------------------
======================================================== */

#menu {
	font-family: 'Julius Sans One', sans-serif;
	position: absolute;
	top: 0;
	left: 0;
  background: rgba(0, 0, 0, 0.4);
  padding-top: 15px;
  padding-bottom: 3px;
  width: 100%;
  margin: 0;
  z-index: 100;
}
  
#menu ul {
  text-align: center;
  padding-left: 0;
  margin-top: 0;
}
    
#menu ul li {
	display: inline;
	padding: 10px;
	padding-left: 4%;
	padding-right: 4%;
	text-align: center; 
}
  	
#menu ul li a {
  text-decoration: none;
  color: white;
  font-size: .9em;
}

#menu ul li a:hover {
  color: black; 
}

/*=======================================================
---- SKROLLR SLIDES ---------------------------------------
======================================================== */


#skrollr-body {
	width: 100%; 
	height: 100%; 
	position: fixed; 
}

#skrollr-body  div {
	overflow: hidden; 
	position: absolute; 
}

.centered { 
	top: 0; 
	bottom: 0; 
	left: 0; 
	right: 0; 
	margin: auto;
 }

 .box {
 	box-shadow: 0 0 7px black;
 }

 #slide_blue {
 	background: rgb(255, 255, 255) url('../images/blue.png') center center no-repeat;
 	z-index: 6;
 }

 #slide_green {
 	background: rgb(0, 0, 0) url('../images/green.png') center center no-repeat;
 	z-index: 5;
 }

 #slide_yellow {
 	background: rgb(0, 0, 0) url('../images/yellow.png') center center no-repeat;
 	z-index: 4;
 }

#slide_red {
 	background: rgb(0, 0, 0) url('../images/red.png') center center no-repeat;
 	z-index: 3;
 }

 #slide_white {
 	background: rgb(0, 0, 0) url('../images/white.png') center center no-repeat;
 	z-index: 2;
 }

 #slide_black {
 	background: rgb(0, 0, 0) url('../images/black.png') center center no-repeat;
 	z-index: 1;
 }

 #slide_blue2 {
 	background: rgb(255, 255, 255) url('../images/blue.png') center center no-repeat;
 	z-index: 0;
 }

 

/*=======================================================
---- INSIDE the SLIDES ---------------------------------------
======================================================== */

.slide_inner {
	position: relative;	
	width: 100%;
	margin: 20% auto;
	text-align: center;
}

#dogear_copy {
	position: static !important;
	width: 400px;
	margin: 0 auto;
	text-align: center;
	color: white;
}

#slide_blue div h1 {
	font-family: 'Julius Sans One', sans-serif;
	color: white;
	padding-bottom: 0;
	margin-bottom: 4px;
	border-bottom: 1px solid rgb(0, 0, 0);
	width: 280px;
	margin: 0 auto;
}

#slide_blue div h2 {
	width: 240px;
	text-align: right;
	margin: 0 auto;
	padding-top: 3px;
	font-family: 'Josefin Sans', sans-serif;
}

#slide_green .slide_inner {
	margin: 100px auto;
}

