
/*=======================================================
---- CSS  Reset ---------------------------------------
======================================================== */

html, body {
	padding: 0;
	margin: 0;
}

body {
	overflow: auto; 
	height: 11000px; 
}

/*=======================================================
---- MENU ---------------------------------------
======================================================== */

#menu {
	font-family: 'Julius Sans One', sans-serif;
	position: absolute;
	top: 0;
	left: 0;
  background: rgba(0, 0, 0, 0.4);
  padding-top: 15px;
  padding-bottom: 10px;
  width: 100%;
  margin: 0;
  z-index: 100;
}
  
#menu ul {
  text-align: center;
  padding-left: 0; }
    
#menu ul li {
	display: inline;
	padding: 10px;
	padding-left: 4%;
	padding-right: 4%;
	text-align: center; 
}
  	#menu ul li a {
  		text-decoration: none;
  		color: #f0f0f0; }
  		#menu ul li a:hover {
  			color: black; }

/*=======================================================
---- SKROLLR SLIDES ---------------------------------------
======================================================== */


#skrollr-body {
	width: 100%; 
	height: 100%; 
	position: fixed; 
}

#skrollr-body  div {
	overflow: hidden; 
	position: absolute; 
}

.centered { 
	top: 0; 
	bottom: 0; 
	left: 0; 
	right: 0; 
	margin: auto;
 }

 .box {
 	box-shadow: 0 0 7px black;
 }

 #slide1 {
 	background: rgb(255, 255, 255) url('../images/blue.png') center center no-repeat;
 	z-index: 6;
 }

 #slide2 {
 	background: rgb(0, 0, 0) url('../images/green.png') center center no-repeat;
 	z-index: 5;
 }

 #slide3 {
 	background: rgb(0, 0, 0) url('../images/yellow.png') center center no-repeat;
 	z-index: 4;
 }

#slide4 {
 	background: rgb(0, 0, 0) url('../images/red.png') center center no-repeat;
 	z-index: 3;
 }

 #slide5 {
 	background: rgb(0, 0, 0) url('../images/white.png') center center no-repeat;
 	z-index: 2;
 }

 #slide6 {
 	background: rgb(0, 0, 0) url('../images/black.png') center center no-repeat;
 	z-index: 1;
 }

 #slide7 {
 	background: rgb(255, 255, 255) url('../images/blue.png') center center no-repeat;
 	z-index: 0;
 }

