
@import 'color';

.container-fluid {
	background-color: black;
	width: 100%;
	margin: 0 auto;
	font-family: 'Julius Sans One', sans-serif;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../images/loading.gif') 50% 50% no-repeat rgb(0, 0, 0);
}

/* ==============================
				MENU - NAVBAR
================================ */


.menu-container {
	margin-top: 25px;
}

#menu {
	background: rgba(0, 0, 0, .2);
	padding-top: 15px;
	padding-bottom: 10px;
	width: 100%;
	margin: 0;
	border-bottom: 2px solid $dk_gray;
	border-top: 4px solid $dk_gray;
	ul {
	text-align: center;
	padding-left: 0;
		li {
			display: inline;
			padding-top: 17px;
			padding-bottom: 23px;
			padding-left: 4%;
			padding-right: 4%;
			text-align: center;
		}
		a {
			text-decoration: none;
			color: rgb(240, 240, 240);
			&:hover {
				color: $dk_gray;
			}
		}
	}
}

#menu2 {
	background: white;
	border-bottom: 2px solid $maroon;
	border-top: 4px solid $maroon;
	ul {
	text-align: center;
	padding-left: 0;
	padding-top: 15px;
	padding-bottom: 10px;
		li {
			width: 100px;
			display: inline;
			padding-top: 17px;
			padding-bottom: 23px;
			padding-left: 4%;
			padding-right: 4%;
			text-align: center;
		}
		a {
				text-decoration: none;
				color: $maroon;
				&:hover {
					color: $tan;
				}
			}
	}
}

#menu3 {
	background: rgba(0, 0, 0, .3);
	border-bottom: 2px solid $lt_blue;
	border-top: 4px solid $lt_blue;
	ul {
	text-align: center;
	padding-left: 0;
	padding-top: 15px;
	padding-bottom: 10px;
		li {
			width: 100px;
			display: inline;
			padding-top: 17px;
			padding-bottom: 23px;
			padding-left: 4%;
			padding-right: 4%;
			text-align: center;
		}
		a {
				text-decoration: none;
				color: white;
				&:hover {
					color: $lt_blue;
				}
			}
	}
}

.slideDown {
	background-color: $blue;
}

.slideDown2 {
	background-color: $lt_gray;
}

.slideDown3 {
	background-color: rgba(139,69,19, .7);
}


/* ====================================
					Video Background
======================================= */

video {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -100;
}

/* =========================
					BIO
========================== */

#bio-page {
	background-color: $lt_blue;
}

.bio {
	margin-top: 70%;
	font-size: 1.1em;
	color: white;
	font-family: 'Josefin Sans', sans-serif;
	padding-left: 0;
	li {
		margin: 5px;
		list-style-type: none;
	}
	hr {
		margin-left: 15px;
		margin-top: 0;
		margin-bottom: 0;
		padding: 0;
		border: 1px dotted $lt_blue;
		width: 50px;
	}
}

/* ==========================
					PORTFOLIO
=========================== */


#portfolio {
	background-color: $tan;
}

#port {
	margin-top: 50px;
	.row {
		margin-left: 0;
	}
}

.addendum {
	font-family: 'Josefin Sans', sans-serif;
	font-size: .6em;
	color: $blue;
}

// #name_port {
// 	text-align: center;
// 	h2 {
// 		margin-bottom: 0;
// 		color: $blue;
// 	}
// 	h4 {
// 		border-top: 1px solid $blue;
// 		color: $maroon;
// 		font-size: 2em;
// 		margin-left: 25%;
// 		padding-left: 4%;
// 		padding-top: 3px;
// 		margin-top: 0;
// 		width: 240px;
// 		font-family: 'Josefin Sans', sans-serif;
// 		text-align: right;
// 	}
// }

.box {
	height: 300px;
	overflow: hidden;
	background-color: white;
	border: 1px solid $maroon;
	padding: 5px;
}

.box-video {
	height: 370px;
	border: 1px solid $blue;
	background-color: white;
	overflow: scroll;
}

.tech {
	font-family: 'Josefin Sans', sans-serif;
	color: $blue;
	padding-left: 0;
	width: 90%;
	margin: 10px auto;
	// border-top: 1px solid $blue;
	// border-bottom: 1px solid $blue;
}

.tech li {
	display: inline;
	text-align: center;
	font-size: .7em;
	padding-right: 10px;
	padding-left: 5px;
	border-right: 2px solid $blue;
}

.tech li:last-child {
	border: none;
}

.click {
	position: absolute;
	top: 82%;
	left: 40%;
	font-size: .8em;
	color: $blue;
	padding: 10px;
	padding-top: 4px;
	padding-bottom: 3px;
	background-color: $tan;
	border-radius: 8px;
	width: 20%;
	margin: 0 auto;
	border: 1px solid $maroon;
	&:hover {
		background-color: $blue;
		color: $tan;
		text-decoration: none;
	}
}

.descrip-divider {
	position: absolute;
	top: 70%;
	left: 10%;
	width: 80%;
	border: 1px dotted $tan;
}

.corner-left {
	border-radius: 25px 0 0 25px;
	border-bottom: 6px solid $maroon;
}

.corner-right {
	border-radius: 0 25px 25px 0;
}

.border-blue-right {
	border-right: 6px solid $blue;
	border-bottom: 6px solid $blue;
}

.border-maroon-right {
	border-right: 6px solid $maroon;
	border-bottom: 6px solid $maroon
}

.border-maroon-left {
	border-left: 6px solid $maroon;
}

.title {
   text-align: center;
   margin: 20px auto;
   font-size: 1.3em;
   width: 75%;
   border-bottom: 1px solid $maroon;
   h1 {
   	color: $maroon;
   }
   :last-child {
   	margin-top: 50px;
   }
}

.heading {
	font-size: 1.4em;
	color: black;
	text-align: center;
	font-family: 'Julius Sans One', sans-serif;
	margin-top: 15px;
}

.blurb {

}

.description {
	text-align: center;
	width: 100%;
	margin: auto;
	font-size: 1.4em;
	color: $maroon;
	font-family: 'Josefin Sans', sans-serif;
	a {
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}
}

.project {
	text-align: center;
	padding-bottom: 20px;
	padding-top: 20px;
	max-width:1960px;
	margin: 0 auto;
}

.project_divider {
	width:70%;
	margin: 0 auto;
	border: 3px solid $maroon;
	margin-top: 40px;
	margin-bottom: 100px;
}

#dogear {
	position: relative;
	left: -90px;
	top: -30px;
	transform: rotate(-35deg);
}

#igenetrain {
	position: relative;
	left: -100px;
	top: -90px;
}

#blog {
	position: relative;
	left: -80px;
	top: -80px;
	transform: rotate(15deg);
}

#posthaste {
	position: relative;
	left: -300px;
	top: -20px;
}

#dedo {
	position: relative;
	left: -20px;
	top: -20px;
}

#tincan1 {
	position: relative;
	left: -40px;
	top: -20px;
	width: 600px;
}

#window {
	position: relative;
	left: -40px;
	top: -20px;
	width: 600px;
}

#bela_img {
	position: relative;
	left: -280px;
	top: -280px;
	transform: rotate(-15deg);
	width: 880px;
}

#arboretum_img {
	position: relative;
	left: -300px;
	top: -40px;
	width:840px;
}

#multimedia {
	margin-top: 10px;
	padding-top: 30px;
	background-color: white;
}

.video {
   position: relative;
   padding-bottom: 56.25%; /* 16:9 */
   padding-top: 25px;
   height: 0;
   margin-top: 20px;
   margin-left: 2%;
   margin-right: 2%;
   margin-bottom: 0;
}

.blue-bkg {
	background-color: $blue;
	border: 1px solid $blue;
}

.video iframe {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 80%;
}

/*========================
				CONTACT
=======================  */

.contact {
	font-family: 'Josefin Sans', sans-serif;
	margin: 10%;
	border-bottom: 1px solid black;
	font-size: 1.2em;
	color: white;
}

#name_contact {
	text-align: center;
	h1 {
		margin-bottom: 0;
		color: white;
	}
	h3 {
		border-top: 1px solid $dk_gray;
		color: $dk_gray;
		font-size: 2em;
		margin-left: 25%;
		padding-left: 4%;
		padding-top: 3px;
		margin-top: 0;
		width: 240px;
		font-family: 'Josefin Sans', sans-serif;
		text-align: right;
	}
}

#email {
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
}


/* ======================
				MEDIA QUERIES
======================== */

@media only screen and (max-width: 1100px) {

	.heading {
		font-size: 1em;
	}

	.description {
		font-size: 1.2em;
	}

	.video-row {
		width: 80%;
		margin: 0 auto;
		padding-left: 2%;
		border-radius: 5px 5px 0 0;
	}

}

@media only screen and (max-width: 960px) {

	.bio {
		margin-top: 55%;
		margin-right: 30px;
		margin-left: 30px;
		li {
			text-align: center;
			color: $brown;
			margin: 0;
		}
		hr {
			margin: 10px auto;
			padding: 0;
			border: 1px solid white;
			width: 100px;
		}
	}

	.box {
		width: 500px;
		height: 300px;
		margin: 0 auto;
		border-radius: 5px;
		border: 1px solid $maroon;
	}

	video iframe {
   position: absolute;
   top: 0;
   left: 0;
   width: 60%;
   height: 80%;
}

}


@media only screen and (max-width: 640px) {
  
	#name h1 {
		font-size: 2.3em;
		text-align: center;
	}

	#name h3 {
		text-align: right;
		font-size: 1.7em;
		margin-left:10%;
		padding-left: 0;
		margin-top: 0;
		font-family: 'Josefin Sans', sans-serif;
		border-top: 1px solid black;
	}

	#name {
		width: 300px;
		margin: 10 auto;
		margin-top: 50%;
	}

	#bio-page {
		background-color: $lt_blue; 
		video {
			top: 100px;
		}
	}

	.bio {
		margin-top: 70%;
		margin-right: 30px;
		margin-left: 30px;
		li {
			text-align: center;
			color: $brown;
			margin: 0;
		}
		hr {
			margin: 10px auto;
			padding: 0;
			border: 1px solid white;
			width: 100px;
		}
	}

	.box {
		width: 75%;
		margin: 0 auto;
		border-radius: 5px;
		border: 1px solid $maroon;
	}

	.video-row {
		width: 90%;
		margin: 0 auto;
		padding-left: 2%;
	}

}

@media only screen and (max-device-width: 640px) {
  
	#name h1 {
		font-size: 2.3em;
		text-align: center;
	}

	#name h3 {
		text-align: right;
		font-size: 1.7em;
		margin-left:10%;
		padding-left: 0;
		margin-top: 0;
		font-family: 'Josefin Sans', sans-serif;
		border-top: 1px solid black;
	}

	#name {
		width: 300px;
		margin: 10 auto;
		margin-top: 50%;
	}

	.bio {
		margin-top: 70%;
		margin-right: 30px;
		margin-left: 30px;
		li {
			text-align: center;
			color: $brown;
			margin: 0;
		}
		hr {
			margin: 10px auto;
			padding: 0;
			border: 1px solid white;
			width: 100px;
		}
	}

}
