.container-fluid {
  background-color: black;
  width: 100%;
  margin: 0 auto;
  font-family: 'Julius Sans One', sans-serif; }

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("../images/loading.gif") 50% 50% no-repeat black; }

/* ==============================
				MENU - NAVBAR
================================ */
.menu-container {
  margin-top: 25px; }

#menu {
  background: rgba(0, 0, 0, 0.4);
  padding-top: 15px;
  padding-bottom: 10px;
  width: 100%;
  margin: 0;
  border-bottom: 2px solid #323232;
  border-top: 4px solid #323232; }
  #menu ul {
    text-align: center;
    padding-left: 0; }
    #menu ul li {
      display: inline;
      padding-top: 17px;
      padding-bottom: 23px;
      padding-left: 4%;
      padding-right: 4%;
      text-align: center; }
    #menu ul a {
      text-decoration: none;
      color: #f0f0f0; }
      #menu ul a:hover {
        color: #323232; }

#menu2 {
  background: white;
  border-bottom: 2px solid #7D1935;
  border-top: 4px solid #7D1935; }
  #menu2 ul {
    text-align: center;
    padding-left: 0;
    padding-top: 15px;
    padding-bottom: 10px; }
    #menu2 ul li {
      width: 100px;
      display: inline;
      padding-top: 17px;
      padding-bottom: 23px;
      padding-left: 4%;
      padding-right: 4%;
      text-align: center; }
    #menu2 ul a {
      text-decoration: none;
      color: #7D1935; }
      #menu2 ul a:hover {
        color: #F5F3EE; }

#menu3 {
  background: rgba(0, 0, 0, 0.3);
  border-bottom: 2px solid powderblue;
  border-top: 4px solid powderblue; }
  #menu3 ul {
    text-align: center;
    padding-left: 0;
    padding-top: 15px;
    padding-bottom: 10px; }
    #menu3 ul li {
      width: 100px;
      display: inline;
      padding-top: 17px;
      padding-bottom: 23px;
      padding-left: 4%;
      padding-right: 4%;
      text-align: center; }
    #menu3 ul a {
      text-decoration: none;
      color: white; }
      #menu3 ul a:hover {
        color: powderblue; }

.slideDown {
  background-color: #4A96AD; }
  .slideDown a {
    color: #F5F3EE !important; }
    .slideDown a:hover {
      color: white !important; }

.slideDown2 {
  background-color: #bebebe; }
  .slideDown2 a {
    color: #323232 !important; }
    .slideDown2 a:hover {
      color: #323232 !important; }

.slideDown3 {
  background-color: rgba(139, 69, 19, 0.7); }

/* ====================================
					Video Background
======================================= */
video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100; }

/* =========================
					BIO
========================== */
#bio-page {
  background-color: #b4b4b4; }

.bio {
  margin-top: 55%;
  font-size: 1.4em;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  padding-left: 0; }

.bio li {
  margin: 5px;
  list-style-type: none; }

.bio hr {
  margin: 5px;
  padding: 0;
  border: 1px dotted gainsboro;
  width: 100px; }

/* ==========================
					PORTFOLIO
=========================== */
#portfolio {
  background-color: #F5F3EE; }

#port {
  margin-top: 50px; }
  #port .row {
    margin-left: 0; }

.title {
  text-align: left;
  margin-left: 2%;
  font-size: 1.3em;
  width: 75%;
  border-bottom: 1px solid #7D1935; }
  .title h1 {
    margin-left: 30px;
    color: #7D1935; }

.heading {
  font-size: 1.4em;
  color: #4A96AD;
  text-align: center;
  font-family: 'Julius Sans One', sans-serif; }

.description {
  text-align: right;
  width: 100%;
  margin: auto;
  font-size: 1.4em;
  color: #7D1935;
  font-family: 'Josefin Sans', sans-serif; }

.project {
  text-align: center;
  max-width: 100%;
  min-height: 300px;
  color: #a0a0a0;
  padding-bottom: 30px;
  padding-top: 30px;
  border-bottom: 1px dotted #4A96AD; }
  .project .image {
    overflow: hidden;
    height: 300px;
    width: 400px; }
  .project img {
    opacity: 1;
    margin-bottom: 10px; }
    .project img:hover {
      opacity: .6; }

#window {
  width: 200px; }

#blog {
  width: 240px; }

#posthaste {
  width: 240px; }

#dedo {
  width: 240px; }

#bela_img {
  width: 240px; }

#arboretum_img {
  width: 240px; }

#tincan {
  background-color: white;
  width: 120px;
  padding: 10px;
  border-radius: 25px;
  border: 2px solid black; }

#multimedia {
  margin-top: 10px;
  padding-top: 30px;
  background-color: white; }

.video {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin-top: 25px;
  margin-left: 18%;
  margin-right: 18%;
  margin-bottom: 0; }

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%; }

/*========================
				CONTACT
=======================  */
.contact {
  margin: 10%;
  border-bottom: 1px solid black;
  font-size: 1.2em; }

#name_contact {
  text-align: center; }
  #name_contact h1 {
    margin-bottom: 0;
    color: white; }
  #name_contact h3 {
    border-top: 1px solid #323232;
    color: #323232;
    font-size: 2em;
    margin-left: 25%;
    padding-left: 4%;
    padding-top: 3px;
    margin-top: 0;
    width: 240px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: right; }

#email {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center; }

/* ======================
				MEDIA QUERIES
======================== */
@media only screen and (max-width: 640px) {
  #name h1 {
    font-size: 2.3em;
    text-align: center; }

  #name h3 {
    text-align: right;
    font-size: 1.7em;
    margin-left: 10%;
    padding-left: 0;
    margin-top: 0;
    font-family: 'Josefin Sans', sans-serif;
    border-top: 1px solid black; }

  #name {
    width: 300px;
    margin: 10 auto;
    margin-top: 50%; } }
@media only screen and (max-device-width: 640px) {
  #name h1 {
    font-size: 2.3em;
    text-align: center; }

  #name h3 {
    text-align: right;
    font-size: 1.7em;
    margin-left: 10%;
    padding-left: 0;
    margin-top: 0;
    font-family: 'Josefin Sans', sans-serif;
    border-top: 1px solid black; }

  #name {
    width: 300px;
    margin: 10 auto;
    margin-top: 50%; } }

/*# sourceMappingURL=main.css.map */
