.container-fluid {
  background-color: black;
  width: 100%;
  margin: 0 auto;
  font-family: 'Julius Sans One', sans-serif; }

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("../images/loading.gif") 50% 50% no-repeat black; }

/* ==============================
				MENU - NAVBAR
================================ */
.menu-container {
  margin-top: 25px; }

#menu {
  background: rgba(0, 0, 0, 0.2);
  padding-top: 15px;
  padding-bottom: 10px;
  width: 100%;
  margin: 0;
  border-bottom: 2px solid #323232;
  border-top: 4px solid #323232; }
  #menu ul {
    text-align: center;
    padding-left: 0; }
    #menu ul li {
      display: inline;
      padding-top: 17px;
      padding-bottom: 23px;
      padding-left: 4%;
      padding-right: 4%;
      text-align: center; }
    #menu ul a {
      text-decoration: none;
      color: #f0f0f0; }
      #menu ul a:hover {
        color: #323232; }

#menu2 {
  background: white;
  border-bottom: 2px solid #7D1935;
  border-top: 4px solid #7D1935; }
  #menu2 ul {
    text-align: center;
    padding-left: 0;
    padding-top: 15px;
    padding-bottom: 10px; }
    #menu2 ul li {
      width: 100px;
      display: inline;
      padding-top: 17px;
      padding-bottom: 23px;
      padding-left: 4%;
      padding-right: 4%;
      text-align: center; }
    #menu2 ul a {
      text-decoration: none;
      color: #7D1935; }
      #menu2 ul a:hover {
        color: #F5F3EE; }

#menu3 {
  background: rgba(0, 0, 0, 0.3);
  border-bottom: 2px solid powderblue;
  border-top: 4px solid powderblue; }
  #menu3 ul {
    text-align: center;
    padding-left: 0;
    padding-top: 15px;
    padding-bottom: 10px; }
    #menu3 ul li {
      width: 100px;
      display: inline;
      padding-top: 17px;
      padding-bottom: 23px;
      padding-left: 4%;
      padding-right: 4%;
      text-align: center; }
    #menu3 ul a {
      text-decoration: none;
      color: white; }
      #menu3 ul a:hover {
        color: powderblue; }

.slideDown {
  background-color: #4A96AD; }

.slideDown2 {
  background-color: #bebebe; }

.slideDown3 {
  background-color: rgba(139, 69, 19, 0.7); }

/* ====================================
					Video Background
======================================= */
video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100; }

/* =========================
					BIO
========================== */
#bio-page {
  background-color: powderblue; }

.bio {
  margin-top: 70%;
  font-size: 1.1em;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  padding-left: 0; }
  .bio li {
    margin: 5px;
    list-style-type: none; }
  .bio hr {
    margin-left: 15px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    border: 1px dotted powderblue;
    width: 50px; }

/* ==========================
					PORTFOLIO
=========================== */
#portfolio {
  background-color: #F5F3EE; }

#port {
  margin-top: 50px; }
  #port .row {
    margin-left: 0; }

.box {
  height: 300px;
  overflow: hidden;
  background-color: white;
  border: 1px solid #7D1935;
  padding: 5px; }

.box-video {
  height: 370px;
  border: 1px solid #4A96AD;
  background-color: white;
  overflow: scroll; }

.tech {
  font-family: 'Josefin Sans', sans-serif;
  color: #4A96AD;
  padding-left: 0;
  width: 90%;
  margin: 10px auto; }

.tech li {
  display: inline;
  text-align: center;
  font-size: .7em;
  padding-right: 10px;
  padding-left: 5px;
  border-right: 2px solid #4A96AD; }

.tech li:last-child {
  border: none; }

.click {
  position: absolute;
  top: 82%;
  left: 40%;
  font-size: .8em;
  color: #4A96AD;
  padding: 10px;
  padding-top: 4px;
  padding-bottom: 3px;
  background-color: #F5F3EE;
  border-radius: 8px;
  width: 20%;
  margin: 0 auto;
  border: 1px solid #7D1935; }
  .click:hover {
    background-color: #4A96AD;
    color: #F5F3EE;
    text-decoration: none; }

.descrip-divider {
  position: absolute;
  top: 70%;
  left: 10%;
  width: 80%;
  border: 1px dotted #F5F3EE; }

.corner-left {
  border-radius: 25px 0 0 25px;
  border-bottom: 6px solid #7D1935; }

.corner-right {
  border-radius: 0 25px 25px 0; }

.border-blue-right {
  border-right: 6px solid #4A96AD;
  border-bottom: 6px solid #4A96AD; }

.border-maroon-right {
  border-right: 6px solid #7D1935;
  border-bottom: 6px solid #7D1935; }

.border-maroon-left {
  border-left: 6px solid #7D1935; }

.title {
  text-align: center;
  margin: 20px auto;
  font-size: 1.3em;
  width: 75%;
  border-bottom: 1px solid #7D1935; }
  .title h1 {
    color: #7D1935; }
  .title :last-child {
    margin-top: 50px; }

.heading {
  font-size: 1.4em;
  color: black;
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
  margin-top: 15px; }

.description {
  text-align: center;
  width: 100%;
  margin: auto;
  font-size: 1.4em;
  color: #7D1935;
  font-family: 'Josefin Sans', sans-serif; }
  .description a {
    text-decoration: none; }
    .description a:hover {
      text-decoration: none; }

.project {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  max-width: 1960px;
  margin: 0 auto; }

.project_divider {
  width: 70%;
  margin: 0 auto;
  border: 3px solid #7D1935;
  margin-top: 40px;
  margin-bottom: 100px; }

#dogear {
  position: relative;
  left: -90px;
  top: -30px;
  transform: rotate(-35deg); }

#blog {
  position: relative;
  left: -80px;
  top: -80px;
  transform: rotate(15deg); }

#posthaste {
  position: relative;
  left: -300px;
  top: -20px; }

#dedo {
  position: relative;
  left: -20px;
  top: -20px; }

#tincan1 {
  position: relative;
  left: -40px;
  top: -20px;
  width: 600px; }

#window {
  position: relative;
  left: -40px;
  top: -20px;
  width: 600px; }

#bela_img {
  position: relative;
  left: -280px;
  top: -280px;
  transform: rotate(-15deg);
  width: 880px; }

#arboretum_img {
  position: relative;
  left: -300px;
  top: -40px;
  width: 840px; }

#multimedia {
  margin-top: 10px;
  padding-top: 30px;
  background-color: white; }

.video {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin-top: 20px;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 0; }

.blue-bkg {
  background-color: #4A96AD;
  border: 1px solid #4A96AD; }

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%; }

/*========================
				CONTACT
=======================  */
.contact {
  font-family: 'Josefin Sans', sans-serif;
  margin: 10%;
  border-bottom: 1px solid black;
  font-size: 1.2em;
  color: white; }

#name_contact {
  text-align: center; }
  #name_contact h1 {
    margin-bottom: 0;
    color: white; }
  #name_contact h3 {
    border-top: 1px solid #323232;
    color: #323232;
    font-size: 2em;
    margin-left: 25%;
    padding-left: 4%;
    padding-top: 3px;
    margin-top: 0;
    width: 240px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: right; }

#email {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center; }

/* ======================
				MEDIA QUERIES
======================== */
@media only screen and (max-width: 1100px) {
  .heading {
    font-size: 1em; }

  .description {
    font-size: 1.2em; } }
@media only screen and (max-width: 960px) {
  .bio {
    margin-top: 55%;
    margin-right: 30px;
    margin-left: 30px; }
    .bio li {
      text-align: center;
      color: saddlebrown;
      margin: 0; }
    .bio hr {
      margin: 10px auto;
      padding: 0;
      border: 1px solid white;
      width: 100px; } }
@media only screen and (max-width: 640px) {
  #name h1 {
    font-size: 2.3em;
    text-align: center; }

  #name h3 {
    text-align: right;
    font-size: 1.7em;
    margin-left: 10%;
    padding-left: 0;
    margin-top: 0;
    font-family: 'Josefin Sans', sans-serif;
    border-top: 1px solid black; }

  #name {
    width: 300px;
    margin: 10 auto;
    margin-top: 50%; }

  #bio-page {
    background-color: powderblue; }
    #bio-page video {
      top: 100px; }

  .bio {
    margin-top: 70%;
    margin-right: 30px;
    margin-left: 30px; }
    .bio li {
      text-align: center;
      color: saddlebrown;
      margin: 0; }
    .bio hr {
      margin: 10px auto;
      padding: 0;
      border: 1px solid white;
      width: 100px; } }
@media only screen and (max-device-width: 640px) {
  #name h1 {
    font-size: 2.3em;
    text-align: center; }

  #name h3 {
    text-align: right;
    font-size: 1.7em;
    margin-left: 10%;
    padding-left: 0;
    margin-top: 0;
    font-family: 'Josefin Sans', sans-serif;
    border-top: 1px solid black; }

  #name {
    width: 300px;
    margin: 10 auto;
    margin-top: 50%; }

  .bio {
    margin-top: 70%;
    margin-right: 30px;
    margin-left: 30px; }
    .bio li {
      text-align: center;
      color: saddlebrown;
      margin: 0; }
    .bio hr {
      margin: 10px auto;
      padding: 0;
      border: 1px solid white;
      width: 100px; } }

/*# sourceMappingURL=main.css.map */
