
//contact
$dk_gray: rgb(50, 50, 50);
$lt_gray: rgb(190, 190, 190);

$green: rgb(23, 127, 117);

$maroon: #7D1935;
$blue: #4A96AD;
$tan: #F5F3EE;


//bio
$lt_blue: rgb(176,224,230);
$brown: rgb(139, 69, 19);